@mixin tertiary-blue-skew{
  background: $color-primary;
  color: $color-white;
  padding: 1rem 2rem;
  box-shadow: $shadow-small;
  border-radius: $radius-large;
  transform: skew(-4deg);
}

@mixin tertiary-white-skew{
  background: $color-white;
  color: $color-primary;
  padding: 1rem 2rem;
  box-shadow: $shadow-small;
  border-radius: $radius-large;
  transform: skew(-4deg);
}

@mixin shape-pseudo-element{
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}



@mixin animate-bubbles {
  animation: bubbles 15s linear infinite;
}

@keyframes bubbles{
  0%{
      transform: translateY(20rem) rotate(0deg);
      opacity: 1;
      border-radius: 50%;
  }

  50%{
      transform: translateY(-20rem) rotate(500deg);
      opacity: .7;
      border-radius: 45%;
  }

  100%{
      transform: translateY(-45rem) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

} 