@mixin tertiary-blue-skew {
  background: linear-gradient(to right, $color-primary, #5104CB);
  letter-spacing: .5px;
  color: $color-white;
  padding: 1.5rem 3rem;
  box-shadow: $shadow-small;
  border-radius: $radius-large;
  transform: skew(-4deg);


  @include respond(mobile) {
    border-radius: 2px;
  }
}

@mixin tertiary-white-skew {
  background: $color-white;
  color: $color-primary;
  padding: 1rem 2rem;
  box-shadow: $shadow-small;
  border-radius: $radius-large;
  transform: skew(-4deg);
}

@mixin shape-pseudo-element {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;

  @include respond(4k) {
    background-position: right;
  }
}

@mixin watermark-text{
  @include shape-pseudo-element;
  font-size: 30rem;
  opacity: .02;
  font-family: $font-header;
  color: white;
  z-index: -1;
}

@mixin animate-bubbles {
  animation: bubbles 15s linear infinite;
}

@keyframes bubbles {
  0% {
    transform: translateY(-10rem) rotate(0);
    opacity: 0;
    border-radius: 50%;
  }

  10% {
    transform: translateY(-30rem) rotate(0);
    opacity: 1;
    border-radius: 50%;
  }

  50% {
    transform: translateY(-70rem) rotate(500deg);
    border-radius: 45%;
  }

  100% {
    transform: translateY(-110rem) rotate(720deg);
    border-radius: 50%;
  }
}



@mixin animate-bubbles-mirror {
  animation: bubbles-mirror 15s linear infinite;
}

@keyframes bubbles-mirror {
  0% {
    transform: translateY(-10rem) rotate(0) scale(-1,1);
    opacity: 0;
    border-radius: 50%;
  }

  10% {
    transform: translateY(-30rem) rotate(0) scale(-1,1);
    opacity: 1;
    border-radius: 50%;
  }

  50% {
    transform: translateY(-70rem) rotate(500deg) scale(-1,1);
    border-radius: 45%;
  }

  100% {
    transform: translateY(-110rem) rotate(720deg) scale(-1, 1);
    border-radius: 50%;
  }
}

@mixin respond($breakpoint) {
    @if $breakpoint == mobile {
        @media only screen and (max-width: 28em) { @content };    //450px
    }
    @if $breakpoint == tablet {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == 4k {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}