@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,900;1,400;1,700&display=swap');

$font-primary: 'Roboto', sans-serif;
$font-header: 'Poppins', sans-serif;



$color-primary: #2f80ed;
$color-primary-light: #008CFF;
$color-primary-dark: #1d3557;
$color-primary-dark-2: #0B1A2E;

$color-white: white;
$color-grey:  #EEE;
$color-orange: #fca311;

$gradient: linear-gradient(to right, $color-primary, #5104CB);

$drop-shadow: drop-shadow(2px 2px $color-orange) drop-shadow(-2px 2px $color-primary);
$drop-shadow-large: drop-shadow(5px 5px $color-orange) drop-shadow(5px 5px $color-primary);

$radius-small: 2px;
$radius-large: 4px;
$radius-XL: 2rem;

$shadow-large: 6px 6px 5px rgba( #000, .25);
$shadow-medium: 2px 2px 5px rgba( #000, .25);
$shadow-small: 1px 2px 5px rgba( #555, .2);
$shadow-colored: 2px 2px 10px rgba($color-primary-light, $alpha: 0.2);





