@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,900;1,400;1,700&display=swap');

$font-primary: 'Poppins', sans-serif;
$font-header: 'Poppins', sans-serif;
$font-secondary: 'Roboto', sans-serif;


$color-primary: #2f80ed;
$color-primary-light: #008CFF;
$color-primary-dark: #1d3557;
$color-primary-dark-2: #0B1A2E;

$color-white: white;
$color-grey:  #EEE;
$color-orange: #fca311;


$radius-small: 2px;
$radius-large: 4px;
$radius-XL: 2rem;

$shadow-large: 6px 6px 5px rgba( #000, .25);
$shadow-medium: 2px 2px 5px rgba( #000, .4);
$shadow-small: 3px 2px 5px rgba( #555, .3);





