@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,900;1,400;1,700&display=swap");
@keyframes bubbles {
  0% {
    transform: translateY(-10rem) rotate(0deg);
    opacity: 0;
    border-radius: 50%; }
  10% {
    transform: translateY(-30rem) rotate(0deg);
    opacity: 1;
    border-radius: 50%; }
  50% {
    transform: translateY(-70rem) rotate(500deg);
    border-radius: 45%; }
  100% {
    transform: translateY(-110rem) rotate(720deg);
    border-radius: 50%; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  *::-moz-selection {
    background: #fca311;
    color: #1d3557; }
  *::selection {
    background: #fca311;
    color: #1d3557; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  height: 100%;
  overflow-x: hidden; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

h1, h3 {
  font-weight: bold;
  font-family: "Roboto", sans-serif; }

p, span {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.btn {
  border: none;
  display: inline-block;
  text-align: center;
  outline: none; }
  .btn-main {
    background-color: #2f80ed;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 3.5rem;
    height: 5rem;
    width: 5rem;
    border: 3px solid #2f80ed;
    transition: all 0.2s; }
    .btn-main:after {
      content: "+";
      display: block; }
    .btn-main:hover, .btn-main:focus {
      transform: scale(1.05) translateY(2px);
      background-color: white;
      color: #2f80ed;
      cursor: pointer; }
  .btn-blob {
    position: relative;
    display: inline-block;
    padding-left: 1.25rem;
    z-index: 200;
    color: white;
    letter-spacing: .5px;
    font-size: 2rem;
    font-weight: bold;
    transform: skew(-4deg) translateZ(0);
    transition: all .2s; }
    .btn-blob::after {
      background: url("../images/button-blob.svg");
      z-index: -1;
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      top: -6.5rem;
      left: -2.5rem;
      width: 15rem;
      height: 15rem;
      filter: drop-shadow(3px 2px 5px rgba(85, 85, 85, 0.3)); }
    .btn-blob:hover, .btn-blob:focus {
      filter: saturate(180%); }
  .btn:hover {
    cursor: pointer; }

.goalForm {
  display: flex;
  align-items: center;
  justify-content: center; }
  .goalForm__background {
    background: linear-gradient(to right, rgba(47, 128, 237, 0.2), rgba(47, 128, 237, 0.2)), url("../images/doodlesdark.png");
    display: flex;
    align-items: center;
    justify-content: center; }
  .goalForm__sidebar {
    max-width: 30rem;
    height: 60rem;
    margin-left: -1rem;
    border-radius: 4px;
    padding: 2rem;
    background-color: #EEE;
    position: relative; }
    .goalForm__sidebar-svg {
      width: 60rem;
      height: auto;
      position: absolute;
      top: 38.8%;
      right: 35%;
      transform: rotateZ(-90deg) translateY(50%);
      fill: #EEE; }
    .goalForm__sidebar-tertiary {
      margin-top: 1rem;
      font-size: 2rem;
      background: #2f80ed;
      color: white;
      padding: 1rem 2rem;
      box-shadow: 3px 2px 5px rgba(85, 85, 85, 0.3);
      border-radius: 4px;
      transform: skew(-4deg); }
    .goalForm__sidebar-paragraph {
      margin: 2rem 0;
      position: relative;
      color: rgba(29, 53, 87, 0.8);
      font-size: 1.5rem;
      line-height: 2;
      width: 27rem; }
    .goalForm__sidebar-numbers {
      background-color: #2f80ed;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      box-shadow: 3px 2px 5px rgba(85, 85, 85, 0.3);
      display: inline-block;
      line-height: 3rem;
      text-align: center;
      color: white;
      height: 3rem;
      width: 3rem;
      border-radius: 50%; }
  .goalForm__content {
    height: 60rem;
    max-width: 50rem; }
  .goalForm__form-element {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50rem;
    border-radius: 4px;
    background-color: white;
    padding: 1rem;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.25); }
  .goalForm__tertiary {
    color: white;
    margin-bottom: 2rem;
    background-color: #2f80ed;
    align-self: flex-start;
    font-size: 2rem;
    background: #2f80ed;
    color: white;
    padding: 1rem 2rem;
    box-shadow: 3px 2px 5px rgba(85, 85, 85, 0.3);
    border-radius: 4px;
    transform: skew(-4deg);
    padding: 1rem 10rem;
    position: relative;
    top: -3rem;
    left: -5rem; }
  .goalForm__close {
    align-self: flex-end;
    flex-shrink: 0;
    margin: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    z-index: 300; }
    .goalForm__close:after {
      content: "\00D7";
      display: block; }
  .goalForm__inputs-container {
    margin-top: -10%; }
  .goalForm__input {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 4rem;
    height: 11rem; }
    .goalForm__input label {
      align-self: flex-start;
      font-family: "Noto Sans JP", sans-serif;
      font-weight: bold;
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
      transition: all 0.5s;
      color: rgba(29, 53, 87, 0.7); }
    .goalForm__input input {
      font-family: "Roboto", sans-serif;
      align-self: flex-start;
      color: rgba(29, 53, 87, 0.7);
      font-size: 2rem;
      border: none;
      outline: none;
      text-align: center;
      border-bottom: 2px solid #1d3557;
      width: 30rem; }
      .goalForm__input input:focus + label, .goalForm__input input:valid + label {
        background: #2f80ed;
        color: white;
        padding: 1rem 2rem;
        box-shadow: 3px 2px 5px rgba(85, 85, 85, 0.3);
        border-radius: 4px;
        transform: skew(-4deg);
        transform: translateX(25rem) skew(-4deg);
        margin-bottom: 0; }
  .goalForm__submit {
    flex-shrink: 0;
    height: 6rem;
    width: 6rem;
    margin-top: auto;
    margin-bottom: 4rem;
    margin-right: 4rem;
    align-self: flex-end;
    z-index: 300; }

.modal__background {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 210; }

.modal__reference {
  z-index: 250; }

.navigation {
  position: relative;
  width: 100rem; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 3rem;
    right: 2rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer; }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 3.5rem;
    right: 2.5rem;
    background: linear-gradient(to top, white, white);
    z-index: 1000;
    transition: all 1s;
    transform: rotate(45deg);
    border-radius: 4px; }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link {
    position: relative;
    z-index: 1;
    margin-bottom: 10rem;
    backface-visibility: hidden; }
    .navigation__link:link, .navigation__link:visited {
      display: inline-block;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-size: 8rem;
      font-weight: 900;
      padding: 1rem 2rem;
      color: white;
      text-decoration: none;
      letter-spacing: 1.5px;
      transition: all 0.5s;
      transform: skew(-4deg);
      filter: drop-shadow(0.5rem 0.5rem #fca311) drop-shadow(-0.5rem 0.5rem #2f80ed); }
      .navigation__link:link:hover, .navigation__link:link:focus, .navigation__link:visited:hover, .navigation__link:visited:focus {
        color: transparent;
        -webkit-text-stroke: 2px #2f80ed;
        filter: drop-shadow(0.5rem 0.5rem #fca311) drop-shadow(0.5rem 0.5rem #2f80ed); }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #fca311;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(70);
    background: linear-gradient(to right, white, #EEE); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked ~ .navigation__nav > .navigation__list {
    display: inline-block; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(70); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }

.contentContainer {
  position: relative;
  z-index: 200; }

.edit {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin: 5vh 0;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  z-index: 201;
  padding: 2.5rem 2rem;
  transform: skew(-4deg);
  height: 50rem; }
  .edit__tertiary {
    margin: 1rem 1.5rem;
    align-self: flex-start;
    font-size: 2.2rem;
    background: #2f80ed;
    color: white;
    padding: 1rem 2rem;
    box-shadow: 3px 2px 5px rgba(85, 85, 85, 0.3);
    border-radius: 4px;
    transform: skew(-4deg); }
  .edit__goal {
    height: 3rem;
    display: flex; }
  .edit__btn {
    position: relative;
    left: -3.5rem;
    top: -1.5rem; }
  .edit__blob {
    align-self: flex-end;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 10rem;
    top: 9rem;
    left: -10%;
    z-index: 200; }
    .edit__blob h3 {
      position: relative;
      z-index: 200;
      margin: 1rem auto;
      width: 80%;
      font-size: 3rem;
      background: #2f80ed;
      color: white;
      padding: 1rem 2rem;
      box-shadow: 3px 2px 5px rgba(85, 85, 85, 0.3);
      border-radius: 4px;
      transform: skew(-4deg); }
    .edit__blob p {
      position: relative;
      z-index: 200;
      color: rgba(29, 53, 87, 0.8);
      font-size: 1.4rem;
      width: 30rem; }
    .edit__blob::after {
      z-index: 199;
      height: 40rem;
      width: 40rem;
      left: -15%;
      top: -100%;
      background: url("../images/blob.svg");
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      filter: drop-shadow(5rem 0.5rem rgba(252, 163, 17, 0.9)); }

.setgoals {
  height: 60rem;
  display: flex;
  position: relative;
  flex-direction: column; }
  .setgoals__header-container {
    display: flex;
    align-self: center;
    width: 50rem;
    justify-content: center; }
  .setgoals__cursor {
    position: relative;
    right: 17%;
    margin: 1.5rem 0;
    border-left: .2rem solid transparent;
    animation: blink 1s steps(1) infinite;
    animation-delay: .6s; }

@keyframes blink {
  0% {
    border-color: white; }
  50% {
    border-color: transparent; }
  100% {
    border-color: white; } }
  .setgoals__header {
    font-size: 3rem;
    background: #2f80ed;
    color: white;
    padding: 1rem 2rem;
    box-shadow: 3px 2px 5px rgba(85, 85, 85, 0.3);
    border-radius: 4px;
    transform: skew(-4deg);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); }
  .setgoals__btn {
    z-index: 1;
    position: relative;
    left: -2rem;
    bottom: 2.25rem; }
  .setgoals__tertiary {
    background: #2f80ed;
    color: white;
    padding: 1rem 2rem;
    box-shadow: 3px 2px 5px rgba(85, 85, 85, 0.3);
    border-radius: 4px;
    transform: skew(-4deg);
    align-self: flex-start;
    font-size: 2rem; }

.milestone {
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13rem;
  min-width: 20rem;
  top: 16rem;
  left: 28rem; }
  .milestone__btn {
    position: relative;
    top: 6rem;
    right: -60%; }
  .milestone__textarea {
    position: relative;
    left: 0rem;
    text-align: center;
    top: 4rem;
    word-wrap: wrap;
    height: 10rem;
    font-size: 1.8rem;
    color: #2f80ed;
    font-family: "Poppins", sans-serif;
    text-shadow: 3px 2px 5px rgba(85, 85, 85, 0.3);
    outline: none;
    border: none;
    resize: none;
    background: none; }
    .milestone__textarea::placeholder {
      color: rgba(29, 53, 87, 0.4);
      text-shadow: none; }
  .milestone::after {
    background: url("../images/milestone-blob.svg");
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    width: 30rem;
    z-index: -1;
    filter: drop-shadow(3px 2px 5px rgba(85, 85, 85, 0.3)) drop-shadow(1rem 1rem #eeeeee); }

.goalContainer {
  background-color: #0B1A2F;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 100vh;
  padding-top: 10rem;
  position: relative; }
  .goalContainer::before {
    z-index: -1;
    height: 35rem;
    background: url("../images/border-dark.svg");
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    top: -28rem; }

.goal {
  position: relative;
  align-self: flex-start;
  z-index: 150;
  display: flex;
  flex-direction: column;
  min-height: 45rem;
  flex: 0 0 51%;
  margin: 1rem 5rem 1rem 30rem;
  padding: 2rem 1rem 0rem 7rem;
  filter: drop-shadow(1rem 0.5rem 0.5px rgba(252, 163, 17, 0.9));
  transform: scale(-1, 1); }
  .goal h3, .goal p, .goal textarea, .goal button {
    transform: scale(-1, 1); }
  .goal:nth-child(even) {
    margin-left: calc(100% - 60rem);
    transform: scale(1); }
    .goal:nth-child(even) h3, .goal:nth-child(even) p, .goal:nth-child(even) textarea, .goal:nth-child(even) button {
      transform: scale(1); }
  .goal::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    left: -5rem;
    top: -5rem;
    height: 55rem;
    width: 55rem; }
  .goal__header {
    align-self: flex-start;
    font-size: 2rem;
    width: 20rem;
    text-align: center;
    margin: 1rem 0rem 2rem 4rem;
    background: #2f80ed;
    color: white;
    padding: 1rem 2rem;
    box-shadow: 3px 2px 5px rgba(85, 85, 85, 0.3);
    border-radius: 4px;
    transform: skew(-4deg); }
  .goal__habit {
    display: flex;
    max-width: 25rem;
    position: relative;
    right: 10rem; }
    .goal__habit:nth-child(2) {
      right: 4rem; }
    .goal__habit:nth-child(3) {
      left: -7rem; }
    .goal__habit:nth-child(4) {
      top: 1rem;
      left: -5rem; }
    .goal__habit-text {
      background: white;
      color: #2f80ed;
      padding: 1rem 2rem;
      box-shadow: 3px 2px 5px rgba(85, 85, 85, 0.3);
      border-radius: 4px;
      transform: skew(-4deg);
      font-size: 1.5rem;
      font-weight: 700;
      flex: 1;
      margin: 1.5rem 0rem; }
    .goal__habit-button {
      position: relative;
      right: 1.25rem;
      height: 3.5rem;
      width: 3.5rem;
      line-height: 3rem;
      transform: scale(1) !important; }
  .goal__complete {
    background-color: #2f80ed;
    align-self: flex-start;
    margin: auto 0rem auto 10rem;
    height: 4.25rem;
    color: white;
    line-height: 1rem;
    font-size: 2rem;
    padding: 1.25rem 2.25rem;
    border-radius: 2rem;
    box-shadow: 3px 2px 5px rgba(85, 85, 85, 0.3);
    transition: all .2s;
    transform: skew(-4deg); }
    .goal__complete:hover, .goal__complete:focus {
      background-color: #008CFF;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); }

.hero {
  background-image: url("../images/color.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  height: 60rem;
  display: flex;
  position: relative;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 2px;
  margin-bottom: 1rem; }
  .hero::after {
    height: 31rem;
    z-index: -1;
    width: 100%;
    background: url("../images/border.svg");
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(-1, 1);
    bottom: -3%; }
  .hero__bubbles {
    position: absolute;
    top: -45rem;
    left: 0;
    width: 100vw;
    height: 80rem;
    overflow: hidden;
    z-index: -100; }
    .hero__bubbles div {
      position: absolute;
      bottom: -15%;
      right: 10%;
      animation: bubbles 15s linear infinite; }
      .hero__bubbles div:nth-child(1) {
        height: 8rem;
        width: 8rem;
        right: 50%;
        animation-delay: 5s;
        background: white; }
      .hero__bubbles div:nth-child(2) {
        height: 3rem;
        width: 3rem;
        right: 90%;
        animation-delay: 23s;
        background: #EEE; }
      .hero__bubbles div:nth-child(3) {
        height: 1rem;
        width: 1rem;
        right: 55%;
        animation-delay: -1s;
        background: #fca311; }
      .hero__bubbles div:nth-child(4) {
        height: 2rem;
        width: 2rem;
        right: 80%;
        animation-delay: 2s;
        background: #008CFF; }
      .hero__bubbles div:nth-child(5) {
        height: 4rem;
        width: 4rem;
        right: 71%;
        animation-delay: 16s;
        background: #fca311; }
      .hero__bubbles div:nth-child(6) {
        height: 3rem;
        width: 3rem;
        right: 60%;
        animation-delay: 10s;
        background: #2f80ed; }
  .hero__header {
    font-family: "Poppins", sans-serif;
    position: relative;
    top: 2em;
    letter-spacing: -1px;
    padding-left: 1.5rem;
    text-shadow: 3px 2px 5px rgba(85, 85, 85, 0.3);
    z-index: 1;
    width: 18ch;
    font-weight: 900;
    font-size: 4.5rem;
    color: #1d3557; }
    .hero__header-text-1 {
      z-index: 3;
      position: relative;
      font-family: inherit;
      line-height: 0;
      padding: .2rem;
      top: 3rem;
      left: 4rem; }
    .hero__header-text-2 {
      position: relative;
      top: 3rem;
      left: 4rem;
      font-family: inherit;
      line-height: 0;
      color: rgba(29, 53, 87, 0.8); }
    .hero__header-logo {
      font-family: inherit;
      font-size: 9rem;
      left: 30rem;
      top: -15rem;
      position: absolute;
      color: #2f80ed;
      text-shadow: none; }
      .hero__header-logo::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        content: 'GoalSpace';
        text-align: center;
        font-size: 5rem;
        background: white;
        z-index: 3;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        line-height: 18rem;
        transform: translate(-50%, -50%);
        height: 18rem;
        width: 18rem;
        filter: drop-shadow(3px 2px 5px rgba(85, 85, 85, 0.3)); }
      .hero__header-logo::before {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(252, 163, 17, 0.9);
        z-index: -1;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 20rem;
        width: 20rem;
        filter: drop-shadow(3px 2px 5px rgba(85, 85, 85, 0.3)); }
  .hero__shapes {
    z-index: 0;
    position: absolute;
    top: 40%;
    left: 1rem;
    content: "";
    height: 17rem;
    width: 10rem; }
    .hero__shapes::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
      top: -277%;
      left: -210%;
      height: 80rem;
      width: 80rem;
      border-radius: 50%;
      filter: drop-shadow(2rem 2.5rem rgba(29, 53, 87, 0.9));
      background-color: white; }
    .hero__shapes::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
      top: -160%;
      left: -80%;
      border-radius: 50%;
      height: 25rem;
      width: 25rem;
      filter: drop-shadow(40rem 37.5rem #fca311);
      background-color: #EEE; }

.footer {
  display: flex;
  z-index: 300;
  position: relative;
  height: 45vh;
  justify-content: flex-end;
  align-items: flex-end;
  background: linear-gradient(to right, rgba(47, 128, 237, 0.2), rgba(47, 128, 237, 0.2)), url("../images/doodlesdark.png"); }
  .footer::before {
    background: url("../images/border-dark.svg");
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    top: -80%;
    height: 30rem;
    width: 100%; }
  .footer__copy {
    margin: 1rem;
    color: rgba(255, 255, 255, 0.9);
    font-size: 2rem; }
  .footer__socials {
    display: flex;
    margin: 0.75rem; }
  .footer__social {
    height: 5rem;
    margin: 0 1rem; }

.chart-container {
  position: relative;
  z-index: 1;
  background: white;
  height: 100vh;
  font-size: 3rem; }
  .chart-container::before {
    background: url("../images/alt-border-white.svg");
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    top: -35%;
    width: 100%;
    height: 30rem; }

.chart {
  margin: 2rem; }
  .chart__display {
    width: 100%;
    height: 50rem;
    background-color: white;
    font-family: "Roboto", sans-serif; }

.loading {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  width: 6.4rem;
  height: 6.4rem; }

.loading div {
  position: absolute;
  background: #12c2e9;
  /* fallback for old browsers */
  background: linear-gradient(#f64f59, #c471ed, #12c2e9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 1;
  border-radius: 50%;
  animation: loading 1.4s cubic-bezier(0, 0.2, 0.8, 1) infinite; }

.loading div:nth-child(2) {
  animation-delay: -.7s; }

@keyframes loading {
  0% {
    top: 2.8rem;
    left: 2.8rem;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: -1px;
    left: -1px;
    width: 5.8rem;
    height: 5.8rem;
    opacity: 0; } }
