@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,900;1,400;1,700&display=swap");
@keyframes bubbles {
  0% {
    transform: translateY(-10rem) rotate(0);
    opacity: 0;
    border-radius: 50%; }
  10% {
    transform: translateY(-30rem) rotate(0);
    opacity: 1;
    border-radius: 50%; }
  50% {
    transform: translateY(-70rem) rotate(500deg);
    border-radius: 45%; }
  100% {
    transform: translateY(-110rem) rotate(720deg);
    border-radius: 50%; } }

@keyframes bubbles-mirror {
  0% {
    transform: translateY(-10rem) rotate(0) scale(-1, 1);
    opacity: 0;
    border-radius: 50%; }
  10% {
    transform: translateY(-30rem) rotate(0) scale(-1, 1);
    opacity: 1;
    border-radius: 50%; }
  50% {
    transform: translateY(-70rem) rotate(500deg) scale(-1, 1);
    border-radius: 45%; }
  100% {
    transform: translateY(-110rem) rotate(720deg) scale(-1, 1);
    border-radius: 50%; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  *::-moz-selection {
    background: #fca311;
    color: #1d3557; }
  *::selection {
    background: #fca311;
    color: #1d3557; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  height: 100%;
  overflow-x: hidden; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

h1, h3 {
  font-weight: bold;
  font-family: "Roboto", sans-serif; }

p, span {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.btn {
  border: none;
  display: inline-block;
  text-align: center;
  outline: none; }
  .btn-main {
    margin: .5rem 1rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    width: 12rem;
    height: 4rem;
    padding: 1rem 3rem;
    color: #2f80ed;
    background: white;
    transition: all .1s;
    filter: drop-shadow(0.2rem 0.2rem #fca311) drop-shadow(-0.2rem 0.2rem #2f80ed); }
    .btn-main:hover {
      transform: scale(1.02) translateY(1px);
      box-shadow: 1px 2px 5px rgba(85, 85, 85, 0.2);
      cursor: pointer; }
  .btn-blob {
    position: relative;
    display: inline-block;
    padding-left: 1.25rem;
    z-index: 200;
    color: white;
    letter-spacing: .5px;
    font-size: 2rem;
    font-weight: bold;
    transform: skew(-4deg) translateZ(0);
    transition: all .2s; }
    .btn-blob::after {
      background: linear-gradient(to right, #2f80ed, #5104CB);
      z-index: -1;
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      top: -6.5rem;
      left: -2.5rem;
      width: 15rem;
      height: 15rem;
      filter: drop-shadow(1px 2px 5px rgba(85, 85, 85, 0.2)); }
    .btn-blob:hover, .btn-blob:focus {
      cursor: pointer;
      filter: hue-rotate(20deg); }
  .btn-round {
    font-family: "Roboto", sans-serif;
    background: white;
    color: #2f80ed;
    font-size: 2rem;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    filter: drop-shadow(0.2rem 0.2rem #fca311) drop-shadow(-0.2rem 0.2rem #2f80ed);
    transition: all .3s; }
    .btn-round:hover, .btn-round:focus {
      cursor: pointer; }
  .btn-hero {
    font-family: "Roboto", sans-serif;
    border-radius: 2rem;
    font-size: 2rem;
    font-weight: bold;
    height: 4.5rem;
    width: 15rem;
    transition: all .3s; }
    .btn-hero:hover, .btn-hero:focus {
      transform: translateY(-2px) scale(1.03);
      cursor: pointer; }
    .btn-hero--solid {
      background: linear-gradient(to right, #2f80ed, #5104CB);
      color: white; }
      .btn-hero--solid:hover, .btn-hero--solid:focus {
        filter: hue-rotate(30deg); }
    .btn-hero--outline {
      border: 2px solid white;
      background: none;
      color: white;
      opacity: .7; }
      .btn-hero--outline:hover, .btn-hero--outline:focus {
        outline: none;
        opacity: 1;
        background: white;
        color: #2f80ed;
        box-shadow: 2px 2px 10px rgba(0, 140, 255, 0.2); }

.goalForm {
  display: flex;
  align-items: center;
  justify-content: center; }
  .goalForm__background {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), linear-gradient(to right, #2f80ed, #5104CB);
    display: flex;
    align-items: center;
    justify-content: center; }
  .goalForm__sidebar {
    max-width: 30rem;
    height: 60rem;
    margin-left: -1rem;
    border-radius: 4px;
    padding: 2rem;
    background-color: #EEE;
    position: relative; }
    .goalForm__sidebar-svg {
      width: 60rem;
      height: auto;
      position: absolute;
      top: 38.8%;
      right: 35%;
      transform: rotateZ(-90deg) translateY(50%);
      fill: #EEE; }
    .goalForm__sidebar-tertiary {
      margin-top: 1rem;
      font-size: 2rem;
      background: linear-gradient(to right, #2f80ed, #5104CB);
      letter-spacing: .5px;
      color: white;
      padding: 1.5rem 3rem;
      box-shadow: 1px 2px 5px rgba(85, 85, 85, 0.2);
      border-radius: 4px;
      transform: skew(-4deg); }
    .goalForm__sidebar-paragraph {
      margin: 2rem 0;
      position: relative;
      color: rgba(29, 53, 87, 0.8);
      font-size: 1.5rem;
      line-height: 2;
      width: 27rem; }
    .goalForm__sidebar-numbers {
      background-color: #2f80ed;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      box-shadow: 1px 2px 5px rgba(85, 85, 85, 0.2);
      display: inline-block;
      line-height: 3rem;
      text-align: center;
      color: white;
      height: 3rem;
      width: 3rem;
      border-radius: 50%; }
  .goalForm__content {
    height: 60rem;
    max-width: 50rem; }
  .goalForm__form-element {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50rem;
    border-radius: 4px;
    background-color: white;
    padding: 1rem;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.25); }
  .goalForm__tertiary {
    color: white;
    margin-bottom: 2rem;
    background-color: #2f80ed;
    align-self: flex-start;
    font-size: 2rem;
    background: linear-gradient(to right, #2f80ed, #5104CB);
    letter-spacing: .5px;
    color: white;
    padding: 1.5rem 3rem;
    box-shadow: 1px 2px 5px rgba(85, 85, 85, 0.2);
    border-radius: 4px;
    transform: skew(-4deg);
    padding: 1rem 10rem;
    position: relative;
    top: -3rem;
    left: -5rem; }
  .goalForm__close {
    align-self: flex-end;
    flex-shrink: 0;
    margin: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    z-index: 300; }
    .goalForm__close:after {
      content: "\00D7";
      display: block; }
  .goalForm__inputs-container {
    margin-top: -10%; }
  .goalForm__input {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 4rem;
    height: 11rem; }
    .goalForm__input label {
      align-self: flex-start;
      font-family: "Noto Sans JP", sans-serif;
      font-weight: bold;
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
      transition: all 0.5s;
      color: rgba(29, 53, 87, 0.7); }
    .goalForm__input input {
      font-family: "Roboto", sans-serif;
      align-self: flex-start;
      color: rgba(29, 53, 87, 0.7);
      font-size: 2rem;
      border: none;
      outline: none;
      text-align: center;
      border-bottom: 2px solid #1d3557;
      width: 30rem; }
      .goalForm__input input:focus + label, .goalForm__input input:valid + label {
        background: linear-gradient(to right, #2f80ed, #5104CB);
        letter-spacing: .5px;
        color: white;
        padding: 1.5rem 3rem;
        box-shadow: 1px 2px 5px rgba(85, 85, 85, 0.2);
        border-radius: 4px;
        transform: skew(-4deg);
        transform: translateX(25rem) skew(-4deg);
        margin-bottom: 0; }
  .goalForm__submit {
    flex-shrink: 0;
    height: 6rem;
    width: 6rem;
    margin-top: auto;
    margin-bottom: 4rem;
    margin-right: 4rem;
    align-self: flex-end;
    z-index: 300; }

.modal__background {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 210; }

.modal__reference {
  z-index: 250; }

.navigation {
  position: relative;
  width: 100rem; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 3rem;
    right: 2rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer; }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 3.5rem;
    right: 2.5rem;
    background: linear-gradient(to top, white, white);
    z-index: 1000;
    transition: all 1s;
    transform: rotate(45deg);
    border-radius: 4px; }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link {
    position: relative;
    z-index: 1;
    margin-bottom: 10rem;
    backface-visibility: hidden; }
    .navigation__link:link, .navigation__link:visited {
      display: inline-block;
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      font-size: 8rem;
      font-weight: 900;
      padding: 1rem 2rem;
      color: white;
      text-decoration: none;
      letter-spacing: 1.5px;
      transition: all 0.5s;
      transform: skew(-4deg);
      filter: drop-shadow(0.5rem 0.5rem #fca311) drop-shadow(-0.5rem 0.5rem #2f80ed); }
      .navigation__link:link:hover, .navigation__link:link:focus, .navigation__link:visited:hover, .navigation__link:visited:focus {
        color: transparent;
        -webkit-text-stroke: 2px #2f80ed;
        filter: drop-shadow(0.5rem 0.5rem #fca311) drop-shadow(0.5rem 0.5rem #2f80ed); }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #fca311;
      display: inline-block !important; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(70); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked ~ .navigation__nav > .navigation__list {
    display: inline-block; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(70); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }

.contentContainer {
  position: relative;
  z-index: 200; }

.edit {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin: 2.5rem 0;
  padding: 2.5rem 2rem;
  transform: skew(-4deg); }
  .edit__tertiary {
    font-size: 2.2rem;
    background: linear-gradient(to right, #2f80ed, #5104CB);
    letter-spacing: .5px;
    color: white;
    padding: 1.5rem 3rem;
    box-shadow: 1px 2px 5px rgba(85, 85, 85, 0.2);
    border-radius: 4px;
    transform: skew(-4deg); }
  .edit__goal {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2.5rem; }
  .edit__btn {
    position: relative;
    z-index: 1;
    top: -2rem; }

.setgoals {
  height: 60rem;
  display: flex;
  position: relative;
  flex-direction: column; }
  .setgoals__header-container {
    margin-top: 5rem;
    display: flex;
    align-self: center;
    justify-content: center; }
  .setgoals__cursor {
    position: relative;
    right: 9.5rem;
    margin: 1.5rem 0;
    border-left: .2rem solid transparent;
    animation: blink 1s steps(1) infinite;
    animation-delay: .6s; }

@keyframes blink {
  0% {
    border-color: white; }
  50% {
    border-color: transparent; }
  100% {
    border-color: white; } }
  .setgoals__header {
    font-size: 3rem;
    background: linear-gradient(to right, #2f80ed, #5104CB);
    letter-spacing: .5px;
    color: white;
    padding: 1.5rem 3rem;
    box-shadow: 1px 2px 5px rgba(85, 85, 85, 0.2);
    border-radius: 4px;
    transform: skew(-4deg); }
  .setgoals__btn {
    z-index: 1;
    position: relative;
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    left: -2rem;
    bottom: 2.25rem; }
  .setgoals__tertiary {
    background: linear-gradient(to right, #2f80ed, #5104CB);
    letter-spacing: .5px;
    color: white;
    padding: 1.5rem 3rem;
    box-shadow: 1px 2px 5px rgba(85, 85, 85, 0.2);
    border-radius: 4px;
    transform: skew(-4deg);
    align-self: flex-start;
    font-size: 2rem; }

.milestone {
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13rem;
  min-width: 20rem;
  top: 17rem;
  left: 29rem; }
  .milestone__btn {
    position: relative;
    top: 6rem;
    right: -60%; }
  .milestone__textarea {
    position: relative;
    left: 0rem;
    top: 3rem;
    text-align: center;
    word-wrap: wrap;
    height: 10rem;
    width: 20rem;
    font-size: 1.8rem;
    color: #2f80ed;
    font-family: "Poppins", sans-serif;
    text-shadow: 1px 2px 5px rgba(85, 85, 85, 0.2);
    outline: none;
    border: none;
    resize: none;
    background: none; }
    .milestone__textarea::placeholder {
      color: rgba(29, 53, 87, 0.4);
      text-shadow: none; }
  .milestone::after {
    background: url("../images/milestone-blob.svg");
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    width: 30rem;
    z-index: -1;
    filter: drop-shadow(1px 2px 5px rgba(85, 85, 85, 0.2)) drop-shadow(1rem 1rem #eeeeee); }

.goalContainer {
  background-color: #0B1A2F;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 80vh;
  padding-top: 10rem;
  position: relative; }
  .goalContainer::before {
    z-index: -1;
    height: 35rem;
    background: url("../images/border-dark.svg");
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    top: -28rem; }

.goal {
  position: relative;
  align-self: flex-start;
  z-index: 150;
  display: flex;
  flex-direction: column;
  min-height: 45rem;
  flex: 0 0 51%;
  margin: 1rem 5rem 1rem 30rem;
  padding: 2rem 1rem 0rem 7rem;
  filter: drop-shadow(0.5rem 0.5rem 0.5px rgba(252, 163, 17, 0.9));
  transform: scale(-1, 1); }
  .goal h3, .goal p, .goal textarea, .goal button {
    transform: scale(-1, 1); }
  .goal:nth-child(even) {
    margin-left: calc(100% - 60rem);
    transform: scale(1); }
    .goal:nth-child(even) h3, .goal:nth-child(even) p, .goal:nth-child(even) textarea, .goal:nth-child(even) button {
      transform: scale(1); }
  .goal::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    left: -5rem;
    top: -5rem;
    height: 55rem;
    width: 55rem; }
  .goal__header {
    align-self: flex-start;
    font-size: 2rem;
    width: 20rem;
    text-align: center;
    margin: 1rem 0rem 2rem 4rem;
    background: linear-gradient(to right, #2f80ed, #5104CB);
    letter-spacing: .5px;
    color: white;
    padding: 1.5rem 3rem;
    box-shadow: 1px 2px 5px rgba(85, 85, 85, 0.2);
    border-radius: 4px;
    transform: skew(-4deg); }
  .goal__habit {
    display: flex;
    max-width: 25rem;
    position: relative;
    right: 10rem;
    text-align: center; }
    .goal__habit:nth-child(2) {
      right: 4rem; }
    .goal__habit:nth-child(3) {
      left: -7rem; }
    .goal__habit:nth-child(4) {
      top: 1rem;
      left: -5rem; }
    .goal__habit-text {
      background: white;
      color: #2f80ed;
      padding: 1rem 2rem;
      box-shadow: 1px 2px 5px rgba(85, 85, 85, 0.2);
      border-radius: 4px;
      transform: skew(-4deg);
      font-size: 1.5rem;
      font-weight: 700;
      flex: 1;
      margin: 1.5rem 0rem; }
    .goal__habit-button {
      position: relative;
      right: 1.25rem; }
  .goal__complete {
    background: linear-gradient(to right, #2f80ed, #5104CB);
    align-self: flex-start;
    margin: auto 0rem auto 10rem;
    height: 4.25rem;
    color: white;
    line-height: 1rem;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 1.25rem 2.25rem;
    border-radius: 2rem;
    box-shadow: 1px 2px 5px rgba(85, 85, 85, 0.2);
    transition: all .2s;
    transform: skew(-4deg); }
    .goal__complete:hover, .goal__complete:focus {
      cursor: pointer;
      filter: hue-rotate(20deg); }

.hero {
  background-image: url("../images/color.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 60rem;
  display: flex;
  position: relative;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 2px;
  margin-bottom: 1rem; }
  .hero::after {
    height: 31rem;
    z-index: -1;
    width: 100%;
    background: url("../images/border.svg");
    background-position: bottom;
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(-1, 1);
    bottom: -3%; }
  .hero__bubbles {
    position: absolute;
    top: -45rem;
    left: 0;
    width: 100vw;
    height: 80rem;
    overflow: hidden;
    z-index: -100; }
    .hero__bubbles div {
      position: absolute;
      bottom: -15%;
      right: 10%;
      animation: bubbles 15s linear infinite; }
      .hero__bubbles div:nth-child(1) {
        height: 8rem;
        width: 8rem;
        right: 50%;
        animation-delay: 5s;
        background: #fca311; }
      .hero__bubbles div:nth-child(2) {
        height: 3rem;
        width: 3rem;
        right: 90%;
        animation-delay: 23s;
        background: #EEE; }
      .hero__bubbles div:nth-child(3) {
        height: 1rem;
        width: 1rem;
        right: 55%;
        animation-delay: -1s;
        background: #fca311; }
      .hero__bubbles div:nth-child(4) {
        height: 2rem;
        width: 2rem;
        right: 80%;
        animation-delay: 2s;
        background: #008CFF; }
      .hero__bubbles div:nth-child(5) {
        height: 4rem;
        width: 4rem;
        right: 71%;
        animation-delay: 16s;
        background: #fca311; }
      .hero__bubbles div:nth-child(6) {
        height: 3rem;
        width: 3rem;
        right: 60%;
        animation-delay: 10s;
        background: #2f80ed; }
  .hero__header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0em;
    letter-spacing: -1px;
    padding-left: 1.5rem;
    z-index: 1;
    font-family: "Poppins", sans-serif; }
    .hero__header-text-1 {
      z-index: 3;
      align-self: center;
      text-align: center;
      font-family: inherit;
      color: white;
      width: 68.5rem;
      font-size: 7rem;
      line-height: 7rem;
      text-shadow: 1px 2px 5px rgba(85, 85, 85, 0.2);
      letter-spacing: .5px;
      margin-top: -7rem;
      padding: 0 1rem; }
      .hero__header-text-1 em {
        font-style: normal;
        filter: drop-shadow(0.5rem 0.5rem #fca311) drop-shadow(-0.5rem 0.5rem #2f80ed); }
    .hero__header-logo {
      font-family: inherit;
      font-size: 4rem;
      left: 2rem;
      top: -21rem;
      position: absolute;
      color: white;
      filter: drop-shadow(0.2rem 0.2rem #fca311) drop-shadow(-0.2rem 0.2rem #2f80ed); }
  .hero__buttons {
    display: flex;
    z-index: 3;
    justify-content: space-between;
    position: relative;
    align-self: center;
    top: 2.5rem; }
    .hero__buttons button {
      margin-left: 1rem; }

.footer {
  display: flex;
  z-index: 300;
  position: relative;
  height: 45vh;
  justify-content: center;
  align-items: center;
  background: #0B1A2E;
  flex-wrap: wrap; }
  .footer::before {
    background: url("../images/border-dark.svg");
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    top: calc(-100% - -10rem);
    height: 30rem;
    width: 100%; }
  .footer::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30rem;
    opacity: .02;
    font-family: "Poppins", sans-serif;
    color: white;
    z-index: -1;
    content: 'Contact';
    z-index: 11;
    line-height: 0;
    top: 30%; }
  .footer__logo {
    position: relative;
    z-index: 900;
    font-family: "Poppins", sans-serif;
    font-size: 5rem;
    letter-spacing: 2px;
    filter: drop-shadow(0.2rem 0.2rem #fca311) drop-shadow(-0.2rem 0.2rem #2f80ed);
    margin-bottom: -10rem; }
    .footer__logo a:visited, .footer__logo a:active, .footer__logo a {
      color: white;
      text-decoration: none; }
  .footer__copy {
    position: relative;
    z-index: 20;
    margin: 1rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 2rem;
    width: 100%; }
    .footer__copy span {
      filter: drop-shadow(0.2rem 0.2rem #fca311) drop-shadow(-0.2rem 0.2rem #2f80ed); }
  .footer__socials {
    position: relative;
    z-index: 100;
    display: flex;
    margin: 0.75rem; }
  .footer__git {
    background: url("../images/git.svg"); }
  .footer__linked {
    background: url("../images/linked.svg"); }
  .footer__git, .footer__linked {
    height: 6rem;
    width: 6rem;
    margin: 0 1rem;
    background-size: cover;
    transition: all .2s; }
    .footer__git:hover, .footer__linked:hover {
      transform: scale(1.05) translateY(-0.2rem);
      filter: drop-shadow(0.2rem 0.2rem #fca311) drop-shadow(-0.2rem 0.2rem #2f80ed); }

.chart-container {
  position: relative;
  z-index: 1;
  background: white;
  height: 100vh;
  font-size: 3rem;
  margin-bottom: 5rem; }
  .chart-container::before {
    background: url("../images/alt-border-white.svg");
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    top: -35%;
    width: 100%;
    height: 30rem; }

.chart {
  margin: 2rem; }
  .chart__display {
    width: 100%;
    height: 50rem;
    background-color: white;
    font-family: "Roboto", sans-serif; }

.loading {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  width: 6.4rem;
  height: 6.4rem; }

.loading div {
  position: absolute;
  background: #12c2e9;
  /* fallback for old browsers */
  background: linear-gradient(#f64f59, #c471ed, #12c2e9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 1;
  border-radius: 50%;
  animation: loading 1.4s cubic-bezier(0, 0.2, 0.8, 1) infinite; }

.loading div:nth-child(2) {
  animation-delay: -.7s; }

@keyframes loading {
  0% {
    top: 2.8rem;
    left: 2.8rem;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: -1px;
    left: -1px;
    width: 5.8rem;
    height: 5.8rem;
    opacity: 0; } }

.confetti__button-container {
  position: relative; }

.confetti__animation {
  position: relative;
  top: -20rem;
  z-index: 500; }

.confetti__text {
  position: absolute;
  top: 20rem;
  left: 5rem;
  z-index: 500;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #2f80ed, #5104CB);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 5rem; }
  .confetti__text--mirror {
    animation: bubbles-mirror 15s linear infinite; }
  .confetti__text--normal {
    animation: bubbles 15s linear infinite; }

.about {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: #0B1A2E;
  text-align: center;
  padding: 2rem; }
  .about::before {
    background: url("../images/alt-border-white.svg");
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    top: 65%;
    left: 0;
    height: 30rem;
    width: 100%; }
  .about::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30rem;
    opacity: .02;
    font-family: "Poppins", sans-serif;
    color: white;
    z-index: -1;
    content: 'About Goalspace';
    line-height: 25rem;
    top: 10%;
    left: 10%; }
  .about__close {
    position: fixed;
    z-index: 100000;
    top: 5vh;
    right: 5vw;
    color: #2f80ed;
    font-family: "Roboto", sans-serif;
    height: 4rem;
    width: 4rem;
    transition: all .3s; }
    .about__close:hover {
      cursor: pointer;
      transform: translateY(-2px); }
    .about__close:after {
      content: "\00D7";
      display: block;
      font-size: 2.5rem; }
  .about__header {
    position: relative;
    z-index: 1;
    font-family: "Poppins", sans-serif;
    margin: 5vh 0;
    color: white;
    font-size: 6rem;
    transform: skew(-4deg);
    filter: drop-shadow(0.5rem 0.5rem #fca311) drop-shadow(-0.5rem 0.5rem #2f80ed); }
  .about__sections {
    display: flex;
    justify-content: space-around; }
  .about__section {
    margin: 2rem 2rem;
    max-width: 35rem; }
    .about__section-tertiary {
      background: linear-gradient(to right, #2f80ed, #5104CB);
      letter-spacing: .5px;
      color: white;
      padding: 1.5rem 3rem;
      box-shadow: 1px 2px 5px rgba(85, 85, 85, 0.2);
      border-radius: 4px;
      transform: skew(-4deg);
      font-size: 2.5rem;
      margin-bottom: 1rem;
      box-shadow: 2px 2px 10px rgba(0, 140, 255, 0.2); }
    .about__section-paragraph {
      font-size: 2rem;
      color: white; }
