.contentContainer {
  position: relative;
  z-index: 200;
}

.edit {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin: 2.5rem 0;
  padding: 2.5rem 2rem;
  transform: skew(-4deg);

  &__tertiary {
    font-size: 2.2rem;
    @include tertiary-blue-skew;
  }

  &__goal {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2.5rem;
  }

  &__btn {
    position: relative;
    z-index: 1;
    top: -2rem;
  }
}

