


.footer {
  display: flex;
  position: relative;
  z-index: 205;
  height: 35rem;
  justify-content: center;
  align-items: center;
  background: $color-primary-dark-2;
  flex-wrap: wrap;

  &::before{
    background: url('../images/border-dark.svg');
    @include shape-pseudo-element;
    z-index: 10;
    top: calc(-100% - -5.2rem);
    height: 30rem;
    width: 100%;
  }
  &::after{
  @include watermark-text;
    background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    content: 'Contact';
    z-index: 11;
    line-height: 0;
  }


  &__logo{
    position: relative;
    font-family: $font-header;
    font-size: 5rem;
    letter-spacing: 2px;
    filter: $drop-shadow;
    margin-bottom: -10rem;


    
    & a:visited, & a:active, & a{
      color: $color-white;
      text-decoration: none;
    }
  }

  &__copy {
    position: relative;
    z-index: 20;
    margin: 1rem;
    text-align: center;
    color: rgba($color: #fff, $alpha: 0.7);
    font-size: 2rem;
    width: 100%;

    & span{
       filter: $drop-shadow;
    }
  }

  &__socials {
    position: relative;
    z-index: 100;
    display: flex;
    margin: 0.75rem;
  }

  &__git{
    background: url('../images/git.svg');
  }
  &__linked{
    background: url('../images/linked.svg');
  }

  &__git, &__linked {
    height: 6rem;
    width: 6rem;
    margin: 0 1rem;
    background-size: cover;
    transition: all .2s;

    &:hover{
      transform: scale(1.05) translateY(-.2rem);
      filter: $drop-shadow;
    }
  }
}
