.goalContainer {
  background-color: $color-primary-dark;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 100vh;
  position: relative;

  &::before{
    z-index: -1;
    height: 35rem;
    background: url("../border-dark.svg");
    @include shape-pseudo-element;
    width: 100vw;
    top: -28rem;
    filter: drop-shadow($shadow-large);
  }

  &::after{
    z-index: -2;
    height: 40rem;
    background: url("../border-dark.svg");
    @include shape-pseudo-element;
    opacity: .9;
    width: 100vw;
    top: -34rem;

  }
}


.goal {
  position: relative;
  flex: 0 0;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 45rem;
  width: 30rem;
  margin: 10rem 1rem 1rem 1rem;
  padding: 2rem 3rem;
  border-radius: $radius-large;
  background: linear-gradient(to top, $color-white, transparent) ,url(../doodles.png);
  filter: drop-shadow(2rem 1rem  .5px rgba($color-primary,.1));

  &::after{
    background: url('../border.svg');
    @include shape-pseudo-element;
    height: 8rem;
    width: 100%;
    bottom: -15%;
    left: 0;
    transform: scale(-1,-1);
    // filter: drop-shadow(0px -1rem rgba($color-primary,.2));
    
  }


  &__header {
    align-self: flex-start;
    font-size: 2rem;
    width: 20rem;
    text-align: center;
    margin: 1rem;
    @include tertiary-blue-skew;
  }

  &__habit {
    display: flex;
    position: relative;
    
    &-text {
      @include tertiary-white-skew;
      font-size: 1.5rem;
      font-weight: 700;
      min-width: 60%;
      margin: 1.5rem 0rem;
    }

    &-button {
      position: relative;
      right: 1.25rem;
      height: 3.5rem;
      width: 3.5rem;
      line-height: 3rem;
    }

  }

  &__complete{
      background-color: $color-primary;
      align-self: center;
      margin: auto 0;
      height: 4.25rem;
      color: white;
      line-height: 1rem;
      font-size: 2rem;
      padding: 1.25rem 2.25rem;
      border-radius: 2rem;
      box-shadow: $shadow-small;
      transition: all .2s;

      &:hover,
      &:focus{
        transform: scale(1.05) translateY(-1px);
        box-shadow: $shadow-medium;
      }

  }
}