.hero {
  background-image: url("../images/color-medium.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 60rem;
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: $radius-small;
  margin-bottom: 1rem;

  @include respond(4k){
    background-image: url("../images/color-large.jpg");
  }
@include respond(mobile){
  background-image: url("../images/color-small.jpg");
  background-position: center;
}
  &::after {
    height: 31rem;
    z-index: -1;
    width: 100%;
    background: url("../images/border.svg");
    background-position: bottom;
    @include shape-pseudo-element;
    transform: scale(-1, 1);
    bottom: -3%;
  }

  &__bubbles {
    position: absolute;
    top: -45rem;
    left: 0;
    width: 100vw;
    height: 80rem;
    overflow: hidden;
    z-index: -100;

    & div {
      position: absolute;
      bottom: -15%;
      right: 10%;
      @include animate-bubbles;

      &:nth-child(1) {
        height: 8rem;
        width: 8rem;
        right: 50%;
        animation-delay: 5s;
        background: $color-orange;
      }

      &:nth-child(2) {
        height: 3rem;
        width: 3rem;
        right: 90%;
        animation-delay: 23s;
        background: $color-grey;
      }

      &:nth-child(3) {
        height: 1rem;
        width: 1rem;
        right: 55%;
        animation-delay: -1s;
        background: $color-orange;
      }

      &:nth-child(4) {
        height: 2rem;
        width: 2rem;
        right: 80%;
        animation-delay: 2s;
        background: $color-primary-light;
      }
      &:nth-child(5) {
        height: 4rem;
        width: 4rem;
        right: 71%;
        animation-delay: 16s;
        background: $color-orange;
      }
      &:nth-child(6) {
        height: 3rem;
        width: 3rem;
        right: 60%;
        animation-delay: 10s;
        background: $color-primary;
      }
    }
  }

  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0em;
    letter-spacing: -1px;
    padding-left: 1.5rem;
    z-index: 1;
    font-family: $font-header;

    &-text-1 {
      z-index: 3;

      align-self: center;
      text-align: center;
      font-family: inherit;
      color: $color-white;
      width: 68.5rem;
      font-size: 7rem;
      line-height: 7rem;
      text-shadow: $shadow-small;
      letter-spacing: .5px;
      margin-top: -7rem;
      padding: 0 1rem;
      & em{
        font-style: normal;
        filter: $drop-shadow-large;
      }
    }
    &-logo {
      font-family: inherit;
      font-size: 4rem;
      left: 2rem;
      top: -21rem;
      position: absolute;
      color: $color-white;
      filter: $drop-shadow;

    }
  }

  &__buttons{
    display: flex;
    z-index: 3;
    justify-content: space-between;
    position: relative;
    align-self: center;

    top: 2.5rem;

    & button {
      margin-left: 1rem;
    }

  }
}
