.milestone{
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13rem;
  min-width: 20rem;

  top: 5rem;


  &__btn{
    position: relative;
    top: 4rem;
    left: 2rem;
  }
  &__input {

    & input{
      text-align: center;
      word-wrap: wrap;
      height: 20rem;
      letter-spacing: 1px;
      border-radius: 1rem;
      padding: .5rem 1rem;
      color: white;
      font-size: 2rem;
      outline: none;
      border: none;
      background: $color-primary ;
    }
 }

  &::after{
    background: url('../milestone-blob.svg');
    @include shape-pseudo-element;
    height: 35rem;
    width: 35rem;
    z-index: -1;
    filter: drop-shadow($shadow-medium) drop-shadow(1rem 1rem rgba($color-primary, .8));
  }

  & > &__btn:hover{
    transform: scale(1.1);
  }

}