.setgoals {

  height: 60rem;
  display: flex;
  position: relative;
  flex-direction: column;

  &__header-container{
    margin-top: 5rem;
    display: flex;
    align-self: center;
    justify-content: center;
  }

  &__cursor {
    position: relative;
    right: 17%;
    margin: 1.5rem 0;
    border-left: .2rem solid transparent;
    animation: blink 1s steps(1) infinite;
    animation-delay: .6s;
  }

  @keyframes blink {
    0% {
      border-color: $color-primary-dark-2;
    }
    50% {
      border-color: transparent;
    }
    100% {
      border-color: $color-primary-dark-2;
    }
  }

  &__header {
    font-size: 4rem;
    color: $color-primary-dark-2;
  }

  &__btn{
    z-index: 1;
    position: relative;
    bottom: 1rem;
  }


  &__tertiary {
    @include tertiary-blue-skew;
    align-self: flex-start;
    font-size: 2rem;
  }

}